$main_window_color: #303030;
$dark_gray: #4D4D4D;
$medium_gray: #9C9C9C;
$light_gray:#d3d3d3;

$media-xxl: 1400px;
$media-xl: 1200px;
$media-l: 992px;
$media-m: 768px;
$media-s: 576px;
$media-xs: 428px;

$border-r: 15px;
